# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage

# Virtual Environment
venv/
.venv/
backend/venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project Specific Build Artifacts
frontend/dist/
frontend/dist_release/
frontend/resources/backend/
backend/build/
backend/dist/
*.spec

# Logs
logs/
*.log

# Database setting (if local dev db)
backend/search_index.db
